/PackageDelivery/nbproject/private/
/PackageDelivery/build/
/PackageDelivery/dist/
/Proyecto 2/MagazinesWebApplication/nbproject/private/
/Proyecto 2/MagazinesWebApplication/build/
/Proyecto 2/MagazinesWebApplication/dist/
/Proyecto 3/Hospital/target/