/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 1, 2019, 11:33:02 PM
    Author     : zofia
*/
.log-in {
    max-width: 50%;
    border-color: #b2ced6;
    margin-top: 50px;
    margin-left: 325px;
}

.dual-card {
    max-width: 85%;
    margin-top: 50px;
    margin-left: 100px;
    border-color: #b2ced6;
}

.single-card {
    border-color: #b2ced6;
}

.thead-color {
    background: #16516D;
    color: white;
}

.table {
    border: 1px solid;
    border-color: #16516D;
}

footer {
    background-color: #7FA9C1; 
    padding-top: 2vh;
    padding-bottom: 0.1vh;
    margin-top: 50px;
}

.copyright
{
  text-align: center;
}

.logo
{
  height: 5vh;
}

.logotype {
    width: 12%;
    margin-top: 25px;
    margin-left: 295px;
}

#inputUsername, #inputPassword {
    width: 50%;
    margin-left: 160px;
}

#singleCardDiv {
    overflow-y: scroll;
}

.btn-light {
    color: whitesmoke;
    background-color: #16516D;
    border-color: #16516D;
}

.btn-sign {
    margin-left: 160px;
    margin-bottom: 25px;
    width: 50%;
}

.links {
    width: 20%;
    margin-bottom: 15px;
    background-color: #b2ced6;
    border-color: #b2ced6; 
    color: #16516D;
}

.btn-submit {
    width: 100%;
}

@media (max-width: 768px) 
{
  li
  {
    margin-left: 0;
    margin-bottom: 1vh;
  }
  
}